.accordion {
  margin: 1em;
  color: #e2e2e2;

  ul {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    li {
      @include transition();
      position: relative;

      h2 {
        background-color: #e2e2e2;
        color: #111;
        position: relative;
        z-index: 10;
        font-size: 2.4em;
        text-transform: uppercase;
        font-weight: bold;
      }

      p {
        @include transition();
        background: #111;
        position: absolute;
        z-index: 1;
        padding: .5em;
        opacity: 0;
      }
    }

    li.open {
      h2 {
        color: deepskyblue;
      }

      p {
        opacity: 1;
      }
    }
  }
}